<h1>Todo List #<%= @id %></h1>

<ul>
    <h2>list_name</h2>
    <li>
        <input type="checkbox"></input>
        <span>todo_description</span>
        <strong>"pomodoro_estimate"</strong>
    </li>
    <li>
        <input type="checkbox"></input>
        <span>todo_description</span>
        <strong>pomodoro_estimate</strong>
    </li>
    <li>
        <input type="checkbox"></input>
        <span>todo_description</span>
        <strong>pomodoro_estimate</strong>
    </li>
</ul>